<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kadtech.xlab.bustiming"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kadtech.xlab.bustiming.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kadtech.xlab.bustiming.About"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.kadtech.xlab.bustiming.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kadtech.xlab.bustiming.MainActivity" />
        </activity>
        <activity
            android:name="com.kadtech.xlab.bustiming.Bus_for_day"
            android:label="@string/title_activity_bus_for_day"
            android:parentActivityName="com.kadtech.xlab.bustiming.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kadtech.xlab.bustiming.MainActivity" />
        </activity>
        <activity
            android:name="com.kadtech.xlab.bustiming.Bus_to_day"
            android:label="@string/title_activity_bus_to_day"
            android:parentActivityName="com.kadtech.xlab.bustiming.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kadtech.xlab.bustiming.MainActivity" />
        </activity>
        <activity
            android:name="com.kadtech.xlab.bustiming.Bus_haults"
            android:label="@string/title_activity_bus_haults"
            android:parentActivityName="com.kadtech.xlab.bustiming.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kadtech.xlab.bustiming.MainActivity" />
        </activity>
        <activity
            android:name="com.kadtech.xlab.bustiming.SpecialBuses"
            android:label="@string/title_activity_special_buses"
            android:parentActivityName="com.kadtech.xlab.bustiming.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kadtech.xlab.bustiming.MainActivity" />
        </activity>
        <activity
            android:name="com.kadtech.xlab.bustiming.Holidays"
            android:label="@string/title_activity_holidays"
            android:parentActivityName="com.kadtech.xlab.bustiming.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kadtech.xlab.bustiming.MainActivity" />
        </activity>
    </application>

</manifest>